body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    min-height: 100vh;
}

.row{
    flex-direction: column;
}
.game-title {
    text-align: center;
}
h1{
    text-decoration: solid;
    font-weight: bolder;
    color: azure;
    text-align: center;
    width: 100%;
}

.game-container {
    padding: 2em;
    min-height: 100vh;
}
 .masa{
    height: 70vh;
    background: rgba(65, 16, 16, 0.678);
}


.circle {
    width: 40px;
    height: 40px;
    left: 30%;
    top: 83%;
    position: absolute;
    border-radius: 50%;
    background-color: green ;
    border: 3px solid white;
}

.circle-hole{
    top: 11%;
    left: 20%;
    background-color: black;
}

.bad {
    background-color: red;
}
#bad1{
    top: 45%;
    left: 69%;
}
#bad2{
    top: 33%;
    left: 35%; 
}

#bad3{
    top: 77%;
    left: 43%;
}
#bad4{
    top: 57%;
    left: 30%;
}
#bad5{
    top: 50%;
    left: 60%;
}
#bad6{
    top: 64%;
    left: 15%;
}
.modal-footer {
    justify-content: space-between;
}
.winning-text, .losing-text{
    display: none;
}